:root{
    --vermelho: #e40017;
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASE */

body {
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container .icones{
    margin-left: 42.5%;
}

.container .icones img{
    margin-right: 10px;
    height: 32px;

}

.container .categorias nav{
    margin-right: 0%;
}

header .logo {
    margin-left: 2%;
    margin-right: 2%;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 30px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #FFF;
}

/* FILME PRINCIPAL */
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0.10), rgba(0,0,0,.10)50%), url(/img/capa-house.jpg);
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 2%;
    margin-right: 50%;
}

.filme-principal .titulo{
    margin-top: 15%;
    margin-left: 2%;
    font-size: 30px;
    font-family: 'Trebuchet MS', Arial, sans-serif;

}

.botao{
    background-color: rgba(0,0,0,.50);
    border: 1px solid grey;
    border-radius: 25px;
    color: whitesmoke;

    padding: 15px 30px;
    margin-right: 15px;
    margin-left: 2%;
    margin-bottom: 2%;
    font-size: 14px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: grey;
    color: black;
    border: 1px solid white;
    border-radius: 25px;
}

.botao i{
    margin-right: 5px;
}