:root{
    --vermelho: #e40017;
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASE */
body {
    padding: 10px;
    background-color: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container{
    margin-left: 2%;
}

header .logo {
    margin-right: 3%;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 27px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 20px;
}

header nav a:hover{
    color: #FFF;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.flex-container div {
    width: 30%;
    margin: 0.3%;
    text-align: center;
}

.menu-title{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

/* CAROUSEL SETUP */
.owl-carousel .item{
    padding: 1rem;
}


